/* General */
*{
  font-family: 'Lato';
  font-size: 13px;
}

.right{
  float: right !important;
}

/* Contacts header */
.contacts-top-bar{
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, #e9ecef, #f9fafb);
	background-image: -moz-linear-gradient(bottom, #e9ecef, #f9fafb);
	background-image: -o-linear-gradient(bottom, #e9ecef, #f9fafb);
	background-image: -ms-linear-gradient(bottom, #e9ecef, #f9fafb);
	background-image: linear-gradient(to top, #e9ecef, #f9fafb);
}

.contacts-menu {
  color: #8d9395;
  float: left;
  display: block;
  width: 750px;
  height: 40px;
}

.app-title {
  font-size: 15px;
  height: 15px;
  float: left;
  padding-bottom: 12px;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 103px;
  color: #545f65;

}

.btn-med-default {
  float: left;
  display: block;
  height: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #ccd3d5;
  border-radius: 4px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  background-image: -webkit-linear-gradient(bottom, #fafafa, #fff);
	background-image: -moz-linear-gradient(bottom, #fafafa, #fff);
	background-image: -o-linear-gradient(bottom, #fafafa, #fff);
	background-image: -ms-linear-gradient(bottom, #fafafa, #fff);
	background-image: linear-gradient(to top, #fafafa, #fff);
}

.btn-med-default:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0,0,0,.05);
  background-image: none;
}

.btn-med-default:active {
  border: solid 1px #ccd3d5;
	background-image: -webkit-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: -moz-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: -o-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: -ms-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: linear-gradient(to bottom, #dfe3e6, #ecf0f3);
  box-shadow: none;
}


.new-contact-button i {
  background: url("@static/new_contact.png") no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
}
.btn-med-default span {
  height: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  float: left;
  margin-left: 5px;
  color: #545f65;
}

.wz-view-close,  .wz-view-minimize, .wz-view-maximize{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 12px;
  height: 10px;
  width: 10px;
  padding: 7px;
  border: 1px solid transparent;
  margin-left: 0px;
}

.wz-view-close:hover,  .wz-view-minimize:hover{
  border: 1px solid #c2cacd;
}

.wz-view-close:active,  .wz-view-minimize:active{
  border: 1px solid #c2cacd;
  background-color: #e1e4e8;
}

.wz-view-close i{
  background: url("@static/sprite-white.png");
  width: 10px;
  height: 10px;
  background-position-x: 10px;
}

.wz-view-minimize i{
  background: url("@static/sprite-white.png");
  width: 10px;
  height: 10px;
}

.wz-view-maximize i{
  background: url("@static/sprite-white.png");
  width: 10px;
  height: 10px;
  background-position-x: 30px;
  opacity: 0.3;
}


/* Contact list */
.contact-list{
  float: left;
  width: 309px;
  height: 564px;
  border-right: 1px solid #ccd3d5;
  color: #545f65;
  background-color: #f7f8fa;
}

.contact {
  height: 62px;
  width: 239px;
  float: right;
  border-bottom: 1px solid rgba(204, 211, 213, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;

}

.contact .highlight-area{
  position: absolute;
  left: 0px;
  height: 60px;
  width: 309px;
  border-top: 1px solid #f7f8fa;
  border-bottom:  1px solid #f7f8fa;
}

.contact:hover .highlight-area{
  background-color: #d9eadb;
  border-top: 1px solid #c1dfc2;
  border-bottom:  1px solid #c1dfc2;
}

.contact.active .highlight-area{
  background-color: #60b25e;
  color: #fff;
  border-top: 1px solid #60b25e;
  border-bottom:  1px solid #60b25e;
}

.contact .avatar {
  width: 46px;
  height: 46px;
  float: left;
  border-radius: 24px;
  margin: 5px;
  border: 2px solid;
}

.contact .avatar-letters{
  font-size: 21px;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 7px;
  padding-left: 0px;
  width: 46px;
  text-align: center;

}

.contact i{
  background-size: cover;
}

.contact span {
  float: left;
  height: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  width: 229px;
}

.contact .name {
  font-size: 15px;
  margin-top: 10px;
}

.contact .position {
  font-size: 11px;
}

/* Contact info */
.contact-info {
  float: left;
  height: 88px;
  width: 554px;
  background-color: #f6f8f8;
}

.contact-info .avatar {
  width: 58px;
  height: 58px;
  border-radius: 30px;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  background-size: cover;
  border: 2px solid;
}

.contact-info .avatar-letters{
  margin-top: 16px;
  float: left;
  font-size: 26px;
  text-align: center;
  margin-left: 0px;
  width: 58px;
}

.contact-info input {
  margin-left: 10px;
  margin-top: 5px;
  float: left;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid transparent;
}

.contact-info input:-ms-input-placeholder {
   color:#465057;
}

.contact-info input::-webkit-input-placeholder {
   color:#465057;
}

.contact-info input:-moz-placeholder {
   color:#465057;
}

.contact-info input::-moz-placeholder {
   color:#465057;
}

.contact-info .name {
  font-size: 19px;
  margin-top: 15px;
  width: 336px;
  margin-right: 61px;
  font-weight: bold;
  color: #545f65;
}

.contact-info .name.focus {
  width: 145px;
}

.contact-info .position {
  margin-top: 5px;
  width: 200px;
  margin-right: 175px;
  color: #545f65;
}

.contact-info .office {
  width: 78px;
  color: #545f65;
}

.contact-info .deparment {
  max-width: 180px;
  min-width: 90px;
  color: #545f65;
}

.contact-info .company {
  max-width: 180px;
  min-width: 80px;
  color: #545f65;
}

.contact-info .focus {
  border: 1px solid #e8eeef;
  background-color: #fff;
}

.edit-contact-button {
  float: right;
  position: absolute;
  right: 7px;
  margin-top: 7px;
}

.edit-contact-button i{
  background: url("@static/edit.png") ;
  background-size: cover;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

.save-contact-button {
  float: right;
  position: absolute;
  height: 20px;
  background-color: #69a55a;
	-webkit-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	box-shadow: inset 0 -2px rgba(0,0,0,.3);
	background-image: -webkit-linear-gradient(bottom, rgba(105,165,90,.5), rgba(121,191,104,.5));
	background-image: -moz-linear-gradient(bottom, rgba(105,165,90,.5), rgba(121,191,104,.5));
	background-image: -o-linear-gradient(bottom, rgba(105,165,90,.5), rgba(121,191,104,.5));
	background-image: -ms-linear-gradient(bottom, rgba(105,165,90,.5), rgba(121,191,104,.5));
	background-image: linear-gradient(to top, rgba(105,165,90,.5), rgba(121,191,104,.5));
  border: 1px solid #c2cacd;
  border-radius: 3px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  right: 7px;
  margin-top: 7px;
  display: none;
  text-align: center;
  border-radius: 3px;
}

.save-contact-button span {
  height: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  float: left;
  color: #fff;
  width: 68px;
  border-radius: 3px;
}

.cancel-contact-button {
  float: right;
  position: absolute;
  height: 20px;
  background-color: #5e6770;
	-webkit-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	box-shadow: inset 0 -2px rgba(0,0,0,.3);
	background-image: -webkit-linear-gradient(bottom, #59616a, #636d77);
	background-image: -moz-linear-gradient(bottom, #59616a, #636d77);
	background-image: -o-linear-gradient(bottom, #59616a, #636d77);
	background-image: -ms-linear-gradient(bottom, #59616a, #636d77);
	background-image: linear-gradient(to top, #59616a, #636d77);
  border: 1px solid #c2cacd;
  border-radius: 3px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  right: 7px;
  margin-top: 7px;
  display: none;
  text-align: center;
  border-radius: 3px;
  right: 102px;
}

.cancel-contact-button span {
  height: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  float: left;
  color: #fff;
  width: 68px;
  border-radius: 3px;
}

.delete-contact-button {
  float: right;
  position: absolute;
  height: 20px;
  background-color: #f65958;
	-webkit-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	box-shadow: inset 0 -2px rgba(0,0,0,.3);
	background-image: -webkit-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: -moz-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: -o-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: -ms-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: linear-gradient(to top, #ef5251, #f75a59);
  border-radius: 3px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  right: 7px;
  margin-top: 7px;
  display: none;
  text-align: center;
  border-radius: 3px;
  right: 200px;
}

.delete-contact-button span {
  height: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  float: left;
  color: #fff;
  width: 68px;
  border-radius: 3px;
  width: 94px;
}

/* Contact tab */
.contact-tab {
  float: left;
  height: 28px;
  width: 554px;
  border-bottom: 1px solid #ccd3d5;
  background-color: #f6f8f8;
}

.contact-tab li {
  float: left;
  list-style-type: none;
  width: 70px;
  height: 28px;
}

.contact-tab li:first-child {
  margin-left: 14px;
}

.contact-tab li.active {
  background-color: #fff;
  border-bottom: none;
  border-top: 1px solid #ccd3d5;
  border-right: 1px solid #ccd3d5;
  border-left: 1px solid #ccd3d5;
  -webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.contact-tab span {
  width: 70px;
  float: left;
  text-align: center;
  margin-top: 8px;
  color: #465057;
  font-size: 13px;
}

/*TABS */
.tab {
  float: left;
  width: 554px;
  height: 447px;
  display: none;
}

.tab.active {
  display: block;
}

/* Info tab */
.info-tab > section {
  width: ~'calc(100% - 28px)';
  float: left;
  border-bottom: 1px solid #e8eeef;
  margin-left: 14px;
  margin-right: 14px;
}

.info-tab .title {
  margin-top: 20px;
  color: #868c8e;
  font-size: 13px;
  float: left;
  margin-bottom: 20px;
  width: 140px;
  text-align: right;
}

.info-tab i {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 20px;
  background: url("@static/add.png") no-repeat;
  margin-left: 10px;
}

.info-tab .add:hover {
  background: url("@static/add_hover.png") no-repeat;
}

.info-tab .add:active {
  background: url("@static/add_selected.png") no-repeat;
}

.info-tab .remove {
  background: url("@static/minus.png") no-repeat;
  cursor: pointer;
  left: 200px;
  margin: 0;
  display: none;
  float: left;
}

.mail .remove{
  left: 206px;
}

.address .remove{
  left: 270px;
}

.personal .remove{
  left: 242px;
}

.phone-list, .mail-list, .address-list{
  width: ~'calc(100% - 65px)' !important;
}

.phone-list .phone, .mail-list .mail, .address-list .address, .personal-list .personal{
  position: relative;
  width: 100% !important;
}

.info-tab > section > section {
  float: left;
  margin-left: 65px;
  width: 537px;
}

.info-tab article {
  font-size: 13px;
  color: #465057;
  float: left;
  width: 537px;
  margin-bottom: 10px;
}

.info-tab article:last-child {
  margin-bottom: 20px;
}

.phone-list input, .mail-list input, .address-list input, .personal-list input{
  background: transparent;
  border: 1px solid transparent;
}

.phone-list .focus, .mail-list .focus, .address-list .focus, .personal-list .focus{
  background: #fff;
  border: 1px solid #e8eeef;
}

.phone-list input:first-child{
  width: 84px;
  text-align: right;
  cursor: auto;
  border: 0;
}

.phone .content {
  width: 128px;
}

.info-tab .phone-tab .phone-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  width: 148px;
  float: left;
  right: 220px;
  margin-top: 17px;
  border-radius: 3px;
  display: none;
  z-index: 2;
}

.info-tab .phone-tab .phone-dropdown article{
  width: 128px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 20px;
}

.info-tab .phone-tab .phone-dropdown article:hover{
  background-color: #5cacdf;
}

.mail .content {
  width: 300px;
}

.mail-list input:first-child{
  width: 84px;
  cursor: auto;
  border: 0;
  text-align: right;
}

.address-list input:first-child{
  width: 84px;
  cursor: auto;
  border: 0;
  text-align: right;
}

.personal-list input:first-child{
  width: 85px;
  cursor: auto;
  border: 0;
}

.info-tab input:-ms-input-placeholder {
   color:#525c62;
}

.info-tab input::-webkit-input-placeholder {
   color:#525c62;
}

.info-tab input:-moz-placeholder {
   color:#525c62;
}

.info-tab input::-moz-placeholder {
   color:#525c62;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  background-color: transparent;
}

/* Calendar tab*/
article.event.domEvent {
  padding-left: 8px;
  padding-top: 8px;
  margin-left: 4px;
  margin-right: 14px;
  border-radius: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 40px;
}

.domEvent span:first-child {
  font-weight: bold;
  display: block;
}

.domEvent span:last-child {
  margin-top: 5px;
  display: block;
}

.calendar-tab .day {
  width: 553px;
  height: 27px;
  border-top: 1px solid #ccd3d5;
  border-bottom: 1px solid #ccd3d5;
  background-color: #f6f8f8;
  text-align: center;
  padding-top: 14px;
  color: #465057;
}

/* Mail tab */

.mail-tab .mail {
  float: left;
  width: 524px;
  height: 44px;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
}

.mail-tab .mail:hover{
  background-color: #d5ebfa;
}

.mail-tab .mail.active {
  background-color: #5cacdf;
  color: #fff;
}

.mail-tab .mail.active .body, .mail-tab .mail.active .time{
  color: #fff;
}

.mail-tab .message-top{
  width: 100%;
  height: 15px;
}

.mail-tab .message-bottom{
  width: 100%;
  padding-top: 5px;
  height: 24px;
}

.mmail-tab .message-top .topic{
  float: left;
  color: #545f65;
  font-weight: bold;
  font-size: 15px;
}

.mail-tab .message-top .time{
  float: right;
  font-size: 11px;
  color: #889399;
}

.mail-tab .message-bottom .body{
  color: #889399;
  font-size: 11px;
}

.mail-tab .search-section{
  width: 545px;
  /*float: left;*/
  height: 39px;
  margin-left: 8px;
  margin-right: 8px;
}

.mail-tab  .search-section .search-icon{
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 0px;
  background-size: 20px 20px;
  background: url("@static/search.png") no-repeat;
  background-position: center;
  float: left;
}

.mail-tab .search-section .search-input{
  width: 494px;
  float: left;
  margin: 10px 10px 10px 0px;
  height: 20px;
  border-left: 1px solid #e9edee;
  padding-left: 10px;
  font-size: 15px;
}

.mail-tab .day{
  display: inline-block;
  background-color: #f7f8fa;
  width: 100%;
  height: 28px;
  border-top: 1px solid #ccd3d5;
  border-bottom: 1px solid #ccd3d5;
}

.mail-tab .day div{
 text-align: center;
 color: #545f65;
 font-weight: bold;
 margin-top: 8px;
}

/* Files tab */

.files-tab-header{
  width: 100%;
  height: 40px;
  border-top: 1px solid #ccd3d5;
  border-bottom: 1px solid #ccd3d5;
}

.files-tab .search-section{
  width: 329px;
  border-right: 1px solid #ccd3d5;
  float: left;
  height: 100%;
  margin-left: 8px;
}

.files-tab .search-section .search-icon{
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 0px;
  background-size: 20px 20px;
  background: url("@static/search.png") no-repeat;
  background-position: center;
  float: left;
}

.files-tab .search-section .search-input{
  width: 277px;
  float: left;
  margin: 10px 10px 10px 0px;
  height: 20px;
  border-left: 1px solid #e9edee;
  padding-left: 10px;
  font-size: 15px;
  /*color: #889399;*/
}

.files-tab .unsync-button{
  width: 214px;
  height: 100%;
  float: left;
}

.files-tab .unsync-button .unsync-text{
  color: #889399;
  margin: 15px 10px 15px 10px;
  text-align: center;
}

.files-tab .files-header{
  width: 538px;
  height: 38px;
  margin: 0px 8px 0px 8px;
  border-bottom: 2px solid #e9edee;
  color: #889399;
}

.files-tab .files-header .name-header{
  width: 275px;
  float: left;
  margin: 14px 10px;
}

.files-tab .files-header .modified-header{
  width: 148px;
  float: left;
  margin: 14px 10px 14px 0px;
}

.files-tab .files-header .shared-header{
  width: 75px;
  float: left;
  margin: 14px 10px 14px 0px;
}

.files-tab .file{
  width: 528px;
  height: 34px;
  margin: 5px 8px 5px 18px
}

.files-tab .file .file-icon{
  /*background-image: url('https://download.inevio.com/962248/icon/normal');*/
  width: 35px;
  height: 35px;
  background-size: 30px 30px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.files-tab .file .file-name{
  width:  230px;
  margin: 11px 10px 0px 10px;
  float: left;
}

.files-tab .file .modified-date{
  width: 148px;
  margin: 11px 10px 0px 0px;
  float: left;
}

.files-tab .file .shared-with{
  width: 75px;
  margin: 11px 10px 0px 0px;
  float: left;
}

input.error::-webkit-input-placeholder{
 color: #da605b !important;
}
input.error::-moz-placeholder{
  color: #da605b !important;
}
input.error:-ms-input-placeholder{
  color: #da605b !important;
}
.contact-info input.error{
 border-color: #da605b;
}

.contact-info input, .info-tab input{
  padding-left: 8px;
}

.files-tab.unsynced .files-tab-header{
  display: none;
}

.files-tab.unsynced .files-view{
  display: none;
}

.files-tab.unsynced .sync-button{
  display: inline-block;
}

.files-tab .sync-button{
  display: none;
  margin: 65px 0px 0px 200px;
  height: 26px;
  width: 120px;
  padding-top: 7px;
}

.fileChildren{
  margin-left: 35px !important;
}

.dirClosed, .dirOpened, .dirClosed i, .dirClosed div, .dirOpened i, .dirOpened div{
  cursor: pointer;
}
